    .jumbotron {
  		background: url("images/stars.jpg") no-repeat center center fixed;
  		-webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: 100% auto;
      height: 100vh;
  		/*padding: 280px;*/
  	}
  	#title {
  		color: white;
      display: none;
      opacity: 0.0;
      filter: alpha(opacity=0);
      font-family: 'Kaushan Script', cursive;
      font-size: 100px;
      text-shadow: 2px 2px 8px black;
      margin-top: 30vh;

    }
    h2, p {
      font-family: 'Nunito', sans-serif;
    }
    h1 {
      font-family: 'Nunito', sans-serif;
      font-weight: Extra-Bold;
    }
    h3, h4 {
      font-family: 'Nunito', sans-serif;
      font-weight: Bold;
    }
  	#subtitle {
  		color: white;
      display: none;
      opacity: 0.0;
      filter: alpha(opacity=0);
  	}
  	.bg-even {
  		background-color: #F5F5F5;
  	}
  	.container-fluid {
  		padding: 60px 50px;
  	}

  	@media screen and (max-width: 768px) {
  		.col-sm-4 {
  			text-align: center;
  			margin: 25px 0px;
  		}
  	}
    .link-logo {
      color: #3A45B2;
      font-size: 100px;
    }
  	.logo {
  		color: #3A45B2;
  		font-size:200px;
  	}
    .logo-small {
      color: #3A45B2; 
    }
  	h4.caption {
  		color: black;
  	}
  	.navbar {
      margin-bottom: 0;
      background: none;
      background-size: cover;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: 'Nunito', sans-serif;
    }
    .navbar li a, .navbar .navbar-brand {
        color: #fff !important;
    }
    .navbar-nav li a:hover, .navbar-nav li.active a {
        color: black !important;
        background-color: white !important;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        color: #fff !important;
    }
    .carousel-control.right, .carousel-control.left {
      background-image: none;
    }
    #experience, #contact, #skills, #links {
      padding: 100px;
    }
    .border-right {
      border-right: 3px solid #3A45B2;
    }
    footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #3A45B2;
    }
    #projLink {
      color: #3A45B2;
    }
    .slideanim {visibility:hidden;}
    .slide {
        /* The name of the animation */
        animation-name: slide;
        -webkit-animation-name: slide; 
        /* The duration of the animation */
        animation-duration: 1s; 
        -webkit-animation-duration: 1s;
        /* Make the element visible */
        visibility: visible; 
    }

    /* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
    @keyframes slide {
        0% {
            opacity: 0;
            transform: translateY(70%);
        } 
        100% {
            opacity: 1;
            transform: translateY(0%);
        } 
    }
    @-webkit-keyframes slide {
        0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        } 
        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        }
    }
